@font-face {
  font-family: 'Righteous';
  font-style: normal;
  font-weight: 400;
  src: local('Righteous'), local('Righteous-Regular'), url(https://fonts.gstatic.com/s/righteous/v6/1cXxaUPXBpj2rGoU7C9WiHGF.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
}

canvas {
    position: absolute;
}

#setButton {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 80px;
    height: 45px;
    background-color: hsla(180, 100%, 45%, 0.9);
    border-radius: 5px;
    z-index: 10;
    font-size: 1rem;
    text-align: center;
    line-height: 45px;
}

#setButton:hover {
    background-color: hsla(180, 100%, 60%, 0.9);
}

#settings {
    background-color: rgba(128,128,128,0.8);
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
    font-family: Righteous, sans-serif;
    overflow: auto;
    grid-template: 4rem 4rem 4rem 4rem / 1fr 1fr;
    grid-gap: 10px;
    padding: 10px;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
}

#settings p, #settings input, #settings select, #settings button {
    height: 3rem;
    line-height: 3rem;
    padding: 0;
    border: none;
    font-family: Righteous, sans-serif;
}

#settings input, #settings button {
    padding-left: 5px;
}

@media (min-width: 320px) {
    #settings p, #settings input, #settings select, #settings button {
        font-size: 1.25rem;
        width: 40%;
        min-width: 140px;
    }
}

@media (min-width: 550px) {
    #settings p, #settings input, #settings select, #settings button {
        font-size: 2rem;
    }
}

.text p {
    display: inline;
}

#settings .text {
    text-align: right;
    justify-self: end;
    line-height: 0;
}

#settings input, #settings select, #settings button {
    text-align: left;
    justify-self: start;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
  margin: 0; 
}